/* martian-mono-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./martian-mono-v3-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.a9s-annotationlayer.a9s-osd-textlayer{font-family:Martian Mono;transform-origin:0 0;pointer-events:none}.a9s-annotationlayer.a9s-osd-textlayer.pointer-events{pointer-events:auto;-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;-o-user-select:auto;user-select:auto}.a9s-annotationlayer.a9s-osd-textlayer .annotation{position:absolute}.a9s-annotationlayer.a9s-osd-textlayer.topleft .annotation{transform-origin:0 bottom}.a9s-annotationlayer.a9s-osd-textlayer.bottomleft .annotation{transform-origin:0 0}.fixed-screen-size .annotation span{display:inline-block;background-color:#fffc;padding:3px 6px;border-radius:2px}.fixed-page-size{color:#0b1dde;text-shadow:0 0 6px rgba(255,255,255,95%)}
